@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.primary-button {
    border-radius: 8px;
    border: none;

    background-color: #FF900E;
    padding: 20px 25px;

    color: white;
    font-size: 1.25rem;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* dark 02 */
.Text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

/* nav styles */
.navbar {

    justify-content: space-between;
    align-items: center;

}

.Brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-links {}

.nav-item {
    list-style: none;
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
}

.navbar,
.banner {
    max-width: 1400px;
    margin: 0 auto;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;

}

.banner-image {
    width: 100%;
}

/* team section style */
.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.Section-title {
    font-weight: 700;
    font-size: 2.8rem;
}

#quick-list {
    font-weight: 500;
}
/* feaures part  */
.features{
    gap: 140px;
}
#features-section-title{
    border-left: 8px solid #FF900E;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    border-radius: 8px;

box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
margin-bottom: 20px;
padding: 30px;
}
#EXperience-badge{
    padding: 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#Experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}


/* some facts styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.fact-number {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: 600;
}

.fact-name {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 600;

}
.facts-description{
   max-width: 540px;
}
/* sponsors styles start */
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
}
/* small responsive */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams .features {
        flex-direction: column;
    }
    .team-image-container,.facts-container {
        grid-template-columns: repeat(1, 1fr);
    }
.facts-container{
    justify-items: center;
    gap: 24px;
}
    .our-features {
        margin-left: 20px;
    }
    

}
.sponsors-companies{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
#EXperience-badge{
    margin-left: 20px;
    margin-top: 25px;

}

/* medium responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams,.features {
        flex-direction: column;
    }
    #EXperience-badge{
        margin-left: 20px;
        margin-top: 25px;
    
    }

    .our-features {
        margin: 50px auto;
    }
    .sponsors-companies, .facts-container {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }


}